
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_LayoutContentPage.cshtml";
}
<style>
        /*.mainDivAlign {
            padding-top: 10%;
            text-align: center;
            vertical-align: middle;
        }

        #V {
            color: Maroon;
            font-size: large
        }
        .sysName {
        font-size: 270%!important;*/
    .rcorners1 {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 250px;
        height: 140px;
        margin: 10px;
        background: linear-gradient(to right, #0a504a, #38ef7d) !important;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
        color: #fff;
        text-align: center;
    }
    .rcorners2 {
        border-radius: 25px;
        background: #73AD21;
        padding: 20px;
        width: 250px;
        height: 140px;
        margin: 10px;
        background: linear-gradient(to right, #493240, #f09) !important;
        box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
        color: #fff;
        text-align: center;
    }

    </style>


@*<div class="mainDivAlign">
        <div>
            <span class="sysName">
                E-Statement Generator
            </span>
        </div>
        <br />
        <br />
        <div>

        </div>


        <br />
        <div>
            <div>
            </div>
        </div>
        <br />


    </div>*@
<div class="page-content">
    <div class="page-header">
        <h1>
            Dashboard
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                overview &amp; stats
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-12">
            <div class="col-sm-4 rcorners1">
                <h6> New Observation</h6> <br>
                <h5>0</h5>
            </div>
            <div class="col-sm-4 rcorners2">
                <h6> New Observation</h6> <br>
                <h5>0</h5>
            </div>
            <div class="col-sm-4 rcorners1">
                <h6> New Observation</h6> <br>
                <h5>0</h5>
            </div>

        </div>

    </div>
    
</div><!-- /.page-content -->
