<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<script src="~/Areas/Auth/Scripts/Activity/MonthlyReport.js"></script>
@{
    ViewBag.Title = "MonthlyReportDetails";
    Layout = "~/Views/Shared/_LayoutContentPage.cshtml";
}

<div id="mmInfoEntry">
    <section class="rm">
        <div class="container-fluid ">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-header">
                                    Dengue Protection Monitoring System
                                </div>
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">


                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" frame="box">
                                        <thead>
                                            <tr>
                                                <td>Building Name</td>
                                                <th>Date</th>
                                                <th>পুকুর/জলাশয়/লেক/খাল কচুরীপানা মুক্ত ও পরিষ্কার করা</th>
                                                <th>খোলা যায়গার নর্দমা, ডাস্টবিনের বর্জ্য অপসারণ</th>
                                                <th>খোলা ড্রেইন পরিষ্কার করণ</th>
                                                <th>ঝোপ-ঝাড় ও আগাছা পরিষ্কারকরণ</th>
                                                <th>গাছপালা ঝোপঝাড়ে fogging করা</th>
                                                <th>খোলা ড্রেইনে লার্ভা ধ্বংসকারী ওষধ নিয়মিতভাবে ছিটানো</th>
                                                <th>আবদ্ধ পানি অপসারণ</th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:PeriodList">
                                            <tr>
                                                <td style="text-align:left;" hidden><input type="hidden" data-bind="value:Id" /></td>
                                                <td style="text-align:left;" data-bind=" text:OfficeAssetName"></td>
                                                <td style="text-align:left;" data-bind=" text:moment(Date).format('DD/MM/YYYY')"></td>
                                                <td style="text-align:left;" data-bind=" text:IsPondsCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsWastageCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsMedicalCollegeCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsOfficeAndHouseholdCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsStillWaterCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsCuringWaterCleanUpName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsUnderConstructionBuildingCleanUpName"></td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>

</div>

