@{
    ViewBag.Title = "User Details";
    Layout = "~/Views/Shared/_LayoutContentPage.cshtml";
}
@*<link href="~/Areas/IPDC/Content/cif.css" rel="stylesheet" />
    <script src="~/Areas/aith/Scripts/addressJsViewModel.js"></script>*@
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<link href="~/Content/customassets/css/cifIncomeStatement.css" rel="stylesheet" />
<link href="~/Content/customassets/css/application.css" rel="stylesheet" />
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<script src="~/Scripts/KoCustomDateTimePicker.js"></script>
<script src="~/Scripts/knockout-jqAutocomplete.min.js"></script>
<script src="~/Areas/Auth/Scripts/User/userDetails.js"></script>
<link href="~/Content/customassets/css/salesLead.css" rel="stylesheet" />
<style>
    .form-control {
        width: 100% !important;
    }

    .input-group-addon {
        padding: 0 5px;
    }

    .btn {
        margin-left: 92px !important;
    }

    .no-padding {
        padding: 0;
    }

    .no-right-padding {
        padding-right: 0;
    }

    .no-left-padding {
        padding-left: 0;
    }

    .pointer {
        cursor: pointer;
    }

    .lineHeightDate {
        line-height: 15px !important;
    }

    tr > td > input {
        min-height: 22px;
    }

    input[type="number"] {
        text-align: right;
    }
</style>
<div class="panel-body" id="amendmentVW">
    <div class="container-fluid">
        <div class="panel-bodycontent">
            <header class="panel-heading bodytitle">
                <h2 class="panel-title font"><b>User Details</b></h2>
            </header>
            <div class="panel-body collapse in">
                <fieldset>
                    <div class="form-group row row_design_detail">
                        <div class="col-sm-4">
                            <div class="col-sm-6">
                                <label class="control-label" for="">User Name</label>
                            </div>
                            <div class="col-sm-6 no-padding" data-bind="validationElement:UserName">
                                <input type="text" data-bind="value:UserName" class="form-control" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="panel-bodycontent">
                        <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#passwordChng">
                            <h2 class="panel-title font">
                                <b>Change Password</b>
                            </h2>
                        </header>
                        <div class="panel-body collapse" id="passwordChng">
                            <div class="form-group row row_design_detail">
                                <div class="col-sm-4">
                                    <div class="col-sm-6">
                                        <label class="control-label">Old Password</label>
                                    </div>
                                    <div class="col-sm-6 no-padding" data-bind="validationElement:OldPassword">
                                        <input class="form-control" type="password" data-bind="value:OldPassword, valueUpdate: 'keyup'" id="oldPassword" name="OldPassword" placeholder="Old Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row_design_detail">
                                <div class="col-sm-4">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="password">Password</label>
                                    </div>
                                    <div class="col-sm-6 no-padding" data-bind="validationElement:Password">
                                        <input class="form-control" type="password" data-bind="value:Password, valueUpdate: 'keyup'" id="password" name="Password" placeholder="Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row_design_detail">
                                <div class="col-sm-4">
                                    <div class="col-sm-6">
                                        <label class="control-label" for="ConfirmPassword">Confirm Password</label>
                                    </div>
                                    <div class="col-sm-6 no-padding" data-bind="validationElement:ConfirmPassword">
                                        <input class="form-control" type="password" data-bind="value:ConfirmPassword, valueUpdate: 'keyup'" id="ConfirmPassword" name="ConfirmPassword" placeholder="Password" />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row_design_detail">

                                <div class="col-sm-4">
                                    <div class="col-sm-offset-5 col-sm-6">
                                        <button type="button" class="btn btn-success btn-q" data-bind="click:SaveUserPassword">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-bodycontent">
                        <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#activation">
                            <h2 class="panel-title font">
                                <b>Active/Inactive User</b>
                            </h2>
                        </header>
                        <div class="panel-body collapse" id="activation">
                            <div class="form-group row row_design_detail">
                                <div class="col-sm-4">
                                    <div class="col-sm-6">
                                        <label class="control-label"> Is Active</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="col-sm-2 no-padding">
                                            <input type="checkbox" name="optradio" data-bind="checked:IsActive, valueUpdate: 'keyup'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-bodycontent">
                        <header class="panel-heading bodytitle pointer" data-toggle="collapse" data-target="#disbursementConditions">
                            <h2 class="panel-title font">
                                <b>User Office Application</b>
                            </h2>
                        </header>
                        <div class="panel-body collapse" id="disbursementConditions">
                            <div class="form-group row row_design_detail">
                                <table class="table table-responsive table-bordered table-striped">
                                    <thead class="headcolor">
                                    <tr>
                                        <th>Office</th>
                                        <th>Application</th>
                                        <th><a class="plus" href='#' data-bind='click: AddUserCompanyApplication'><span class="glyphicon glyphicon-plus"></span></a></th>

                                    </tr>
                                    </thead>
                                    <tbody data-bind="foreach:UserCompanyApplications">
                                    <tr>
                                        <td>
                                            <select data-bind="options:$parent.OfficeList, value: OfficeId, optionsValue:'Id', optionsText: 'Name', optionsCaption: '...Choose Role...'" class="form-control"></select>
                                        </td>
                                        <td>
                                            <select data-bind="options:$parent.ApplicationList, value: ApplicationId, optionsValue:'Id', optionsText: 'Name', optionsCaption: '...Choose Role...'" class="form-control"></select>
                                        </td>

                                        <td colspan="2">
                                            <a class="plus" href='#' data-bind="click: $parent.AddUserCompanyApplication"><span class="glyphicon glyphicon-plus"></span></a>
                                            <a class="minus" href="#" data-bind="click: $parent.RemoveUserCompanyApplication"><span class="glyphicon glyphicon-minus"></span></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group row row_design">
                                <div class="col-sm-2 col-sm-offset-8"></div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success" data-bind="click:SaveUserDetails">Save</button>
                                </div>

                            </div>
                        </div>

                    </div>
              
                </fieldset>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <div id="lonSuccessModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Response</h4>
                </div>
                <div class="modal-body" align="center">
                    <p id="lonSuccessModalText"></p>
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
