@{
    Layout = "~/Views/Shared/_LayoutContentPage.cshtml";
    ViewBag.Title = "User Entry";
}

<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<script src="~/Areas/Auth/Scripts/Information/ActionEntry.js"></script>

<div class="page-content" id="actionEntry">
    <div class="page-header">
        <h1>
            Action for observation
            <small>
                <i class="ace-icon fa fa-angle-double-right"></i>
                Update Action for the observation
            </small>
        </h1>
    </div><!-- /.page-header <span style="font-weight:bold"></span> -->

    <div class="row">
        <div class="col-xs-12">
            <div class="widget-box">
                <div class="widget-header" style="color:blueviolet;">
                    <h4 class="widget-title" style=" font-weight: bold !important;">Observation Details</h4>
                </div>

                <div class="widget-body">
                    <div class="widget-main no-padding">
                        <form class="form-horizontal" role="form">
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> পর্যবেক্ষক :</label>

                                <div class="col-sm-9">
                                    <input type="text" data-bind="value:FullName" id="fullname" name="FullName" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> মোবাইল :</label>

                                <div class="col-sm-9">
                                    <input type="text" data-bind="value:Mobile" id="fullname" name="FullName" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Complain Id :</label>

                                <div class="col-sm-9">
                                    <input type="text" data-bind="Text:ComplainID" id="fullname" name="FullName" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> এলাকা :</label>

                                <div class="col-sm-9">
                                    <input type="text" data-bind="value:CombindArea" id="fullname" name="FullName" class="col-xs-10 col-sm-5" />
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> স্থানের বিশদ বর্ণনা :</label>

                                <div class="col-sm-5">
                                    <textarea id="form-field-11" data-bind="value:Location" class="autosize-transition form-control"></textarea>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> পর্যবেক্ষন :</label>

                                <div class="col-sm-5">
                                    <textarea id="form-field-11" data-bind="value:Remarks" class="autosize-transition form-control"></textarea>
                                </div>
                            </div>
                            <div class="space-4"></div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> বর্তমান অবস্থা:</label>
                                <div class="col-xs-10 col-sm-5">
                                    <select data-bind="options:StatusList, optionsValue: 'Id', optionsText:'Name', optionsCaption:'--Select--', value:ComplainStatus " id="form-field-select-1">
                                    </select>
                                </div>
                            </div>
                            @*<div class="space-6"></div>*@
                            <div class="space-4"></div>
                            <div class="clearfix form-actions">
                                <div class="col-md-offset-0 col-md-12">
                                    <button type="submit" style="width:inherit; font-size:14px; font-weight:bold;" data-togle="modal" data-target="#successModal" data-bind="click:Submit" class="btn btn-success btn-lg">
                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-xs-12 widget-box ui-sortable-handle" id="widget-container-col-1">
                <div class="space-4"></div>
                <div class="col-xs-12 col-sm-2 center">
                    <div>
                        <span class="profile-picture">
                            @*~/UploadImages/ComplainImages/"+*@
                            <img id="image1" data-bind='attr: {src: Image1 }' class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/UploadImages/ComplainImages/noimage.png">
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 center">
                    <div>
                        <span class="profile-picture">
                            <img id="image2" data-bind='attr: {src: Image2 }' class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/UploadImages/ComplainImages/noimage.png">
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 center">
                    <div>
                        <span class="profile-picture">
                            <img id="image3" data-bind='attr: {src: Image3 }' class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/UploadImages/ComplainImages/noimage.png">
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 center">
                    <div>
                        <span class="profile-picture">
                            <img id="image4" data-bind='attr: {src: Image4 }' class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/UploadImages/ComplainImages/noimage.png">
                        </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 center">
                    <div>
                        <span class="profile-picture">
                            <img id="image5" data-bind='attr: {src: Image5 }' class="editable img-responsive editable-click editable-empty" alt="Alex's Avatar" src="/UploadImages/ComplainImages/noimage.png">
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="successModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-sm">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Response</h4>
                    </div>
                    <div class="modal-body" align="center">
                        <p id="successModalText"></p>
                        <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
