USE [DEL.GB.Auth]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Application]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Application](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Application] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ApplicationModule]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationModule](
	[ApplicationId] [bigint] NOT NULL,
	[ModuleId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.ApplicationModule] PRIMARY KEY CLUSTERED 
(
	[ApplicationId] ASC,
	[ModuleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DbBackupConfig]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DbBackupConfig](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DBContextName] [nvarchar](max) NULL,
	[DBName] [nvarchar](max) NULL,
	[FilePrefix] [nvarchar](max) NULL,
	[FileDirectory] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DbBackupConfig] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designation]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designation](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Designation] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnOfficeId] [bigint] NOT NULL,
	[OwnOfficeBranchId] [bigint] NOT NULL,
	[EmployeeId] [nvarchar](max) NULL,
	[EmployeeCode] [nvarchar](max) NULL,
	[EmployeeName] [nvarchar](max) NULL,
	[DesignationId] [bigint] NOT NULL,
	[PerPhone] [nvarchar](max) NULL,
	[OfficePhone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Remarks] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Sl] [int] NOT NULL,
	[Url] [nvarchar](max) NULL,
	[HeadingText] [nvarchar](max) NULL,
	[NoteHtml] [nvarchar](max) NULL,
	[SubModuleId] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Menu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MenuTask]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuTask](
	[MenuId] [bigint] NOT NULL,
	[TaskId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.MenuTask] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC,
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Module]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Sl] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Module] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OfficeProfile]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OfficeProfile](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[RoutingNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[SystemDate] [datetime] NOT NULL,
	[VoucherNo] [nvarchar](max) NULL,
	[JvNo] [nvarchar](max) NULL,
	[CDvNo] [nvarchar](max) NULL,
	[BDvNo] [nvarchar](max) NULL,
	[CCvNo] [nvarchar](max) NULL,
	[BCvNo] [nvarchar](max) NULL,
	[VoucherName] [nvarchar](max) NULL,
	[BillNo] [nvarchar](max) NULL,
	[ChallanNo] [nvarchar](max) NULL,
	[InvoiceNo] [nvarchar](max) NULL,
	[PreProdNo] [nvarchar](max) NULL,
	[ProdNo] [nvarchar](max) NULL,
	[RequisitionNo] [nvarchar](max) NULL,
	[OrderNo] [nvarchar](max) NULL,
	[EmployeeNo] [bigint] NOT NULL,
	[PurchaseDate] [datetime] NULL,
	[SalesDate] [datetime] NULL,
	[AccountsDate] [datetime] NULL,
	[FiscalYear] [datetime] NOT NULL,
	[ParentId] [bigint] NULL,
	[CompanyType] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OfficeProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OwnOffice]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnOffice](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[RoutingNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OwnOffice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OwnOfficeBranch]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnOfficeBranch](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnOfficeId] [bigint] NULL,
	[BranchType] [int] NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[RoutingNo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[PhoneNo] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Fax] [nvarchar](max) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.OwnOfficeBranch] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleMenu]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleMenu1]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenu1](
	[Role_Id] [bigint] NOT NULL,
	[Menu_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.RoleMenu1] PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC,
	[Menu_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoleMenuTask]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleMenuTask](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleMenuId] [bigint] NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[Read] [bit] NOT NULL,
	[Add] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.RoleMenuTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SubModule]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubModule](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Sl] [int] NOT NULL,
	[ModuleId] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SubModule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Task]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Task] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaskRoles]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskRoles](
	[Task_Id] [bigint] NOT NULL,
	[Role_Id] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.TaskRoles] PRIMARY KEY CLUSTERED 
(
	[Task_Id] ASC,
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[EmployeeId] [bigint] NULL,
	[EmpPcIp] [nvarchar](max) NULL,
	[EmpPcMac] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsSelfAuthorizer] [bit] NULL,
	[PasswordExpired] [bit] NULL,
	[PasswordExpireDate] [datetime] NULL,
	[PasswordLocked] [bit] NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Application_Id] [bigint] NULL,
	[OfficeProfile_Id] [bigint] NULL,
 CONSTRAINT [PK_dbo.User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserMenu]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMenu](
	[UserId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.UserMenu] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserOfficeApplication]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserOfficeApplication](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[OwnOfficeId] [bigint] NOT NULL,
	[OwnOfficeBranchId] [bigint] NOT NULL,
	[ApplicationId] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserOfficeApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProxy]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProxy](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AssignedBy] [bigint] NOT NULL,
	[ProxyUserId] [bigint] NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserProxy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProxyRoleMenu]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProxyRoleMenu](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserProxyId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
	[MenuId] [bigint] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserProxyRoleMenu] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProxyRoleMenuTask]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProxyRoleMenuTask](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[RoleMenuId] [bigint] NOT NULL,
	[TaskId] [bigint] NOT NULL,
	[Read] [bit] NOT NULL,
	[Add] [bit] NOT NULL,
	[Edit] [bit] NOT NULL,
	[Delete] [bit] NOT NULL,
	[CreateDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatorIP] [nvarchar](max) NULL,
	[CreatorMac] [nvarchar](max) NULL,
	[AuthorizeDate] [datetime] NULL,
	[AuthorizedBy] [bigint] NULL,
	[AuthorizerIP] [nvarchar](max) NULL,
	[AuthorizerMac] [nvarchar](max) NULL,
	[EditDate] [datetime] NULL,
	[EditedBy] [bigint] NULL,
	[EditorIP] [nvarchar](max) NULL,
	[EditorMac] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_dbo.UserProxyRoleMenuTask] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRole]    Script Date: 11/19/2019 10:44:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRole](
	[UserId] [bigint] NOT NULL,
	[RoleId] [bigint] NOT NULL,
 CONSTRAINT [PK_dbo.UserRole] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Application] ON 

INSERT [dbo].[Application] ([Id], [Name], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (1, N'Bus Ticketing', CAST(0x0000A6AB00000000 AS DateTime), 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Application] OFF
INSERT [dbo].[ApplicationModule] ([ApplicationId], [ModuleId]) VALUES (1, 5)
INSERT [dbo].[ApplicationModule] ([ApplicationId], [ModuleId]) VALUES (1, 18)
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([Id], [Name], [Details], [Remarks], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (2, N'Admin', N'Administrator', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [OwnOfficeId], [OwnOfficeBranchId], [EmployeeId], [EmployeeCode], [EmployeeName], [DesignationId], [PerPhone], [OfficePhone], [Email], [Address], [Remarks], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (2, 1, 1, N'de190668', N'desb668', N'Shaikat Barua', 2, N'14525487454', N'415256365214', N'admin@de.com', N'Motijheel', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([Id], [Name], [DisplayName], [Description], [Sl], [Url], [HeadingText], [NoteHtml], [SubModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (5, N'Module', N'Module Maintenance', N'Module Maintenance', 1, N'/Auth/module/index', NULL, NULL, 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Menu] ([Id], [Name], [DisplayName], [Description], [Sl], [Url], [HeadingText], [NoteHtml], [SubModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (6, N'SubModule', N'Sub Module Maintenance', N'Sub Module Maintenance', 2, N'/Auth/submodule/index', NULL, NULL, 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Menu] ([Id], [Name], [DisplayName], [Description], [Sl], [Url], [HeadingText], [NoteHtml], [SubModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (7, N'Menu', N'Menu Maintenance', N'Menu Maintenance', 3, N'/Auth/Menu/Index', NULL, NULL, 11, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Menu] OFF
SET IDENTITY_INSERT [dbo].[Module] ON 

INSERT [dbo].[Module] ([Id], [Name], [DisplayName], [Description], [Sl], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (5, N'Auth', N'Auth', N'Authentication & Authorization Configuration', 5, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Module] ([Id], [Name], [DisplayName], [Description], [Sl], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (18, N'Data Management', N'Data Management', N'Data Management', 8, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Module] ([Id], [Name], [DisplayName], [Description], [Sl], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (20, N'Go Bangladesh', N' Bangladesh', N'Main Application', 6, CAST(0x0000A9D7011C4C26 AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Module] OFF
SET IDENTITY_INSERT [dbo].[OfficeProfile] ON 

SET IDENTITY_INSERT [dbo].[OfficeProfile] OFF
SET IDENTITY_INSERT [dbo].[OwnOffice] ON 

INSERT [dbo].[OwnOffice] ([Id], [Code], [Name], [RoutingNo], [Address], [PhoneNo], [Email], [Fax], [ContactPerson], [Logo], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (1, N'001', N'Data Edge Ltd.', N'001234567', N'Motijheel', N'01458987454', N'de@data-edge.com', N'41526352145', N'Balaram Aich', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[OwnOffice] OFF
SET IDENTITY_INSERT [dbo].[OwnOfficeBranch] ON 

INSERT [dbo].[OwnOfficeBranch] ([Id], [OwnOfficeId], [BranchType], [Code], [Name], [RoutingNo], [Address], [PhoneNo], [Email], [Fax], [ContactPerson], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (1, 1, 1, N'0011', N'Motijheel', N'001234566', N'Motijheel', N'12541452563', N'hode@data-edge.com', N'45698745214', N'SB', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[OwnOfficeBranch] OFF
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (1, N'Managerial', N'Has ability to change setup data', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (2, N'Executive', N'Has operational privilege', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Role] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (3, N'Admin', N'Has operational privilege', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
SET IDENTITY_INSERT [dbo].[SubModule] ON 

INSERT [dbo].[SubModule] ([Id], [Name], [DisplayName], [Description], [Sl], [ModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (11, N'MenuStructure', N'Menu Structure', N'Menu Structure', 1, 5, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[SubModule] ([Id], [Name], [DisplayName], [Description], [Sl], [ModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (12, N'Authorization', N'Authorization', N'Authorization', 2, 5, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[SubModule] ([Id], [Name], [DisplayName], [Description], [Sl], [ModuleId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (46, N'Many2Many Assignment', N'Many to Many Assignment', N'Many to Many Assignment', 1, 18, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[SubModule] OFF
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (1, N'auth_home_index', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Task] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (2, N'auth_home_menu', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Task] ([Id], [Name], [Description], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (3, N'auth_home_autherror', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Task] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Password], [EmployeeId], [EmpPcIp], [EmpPcMac], [IsActive], [IsSelfAuthorizer], [PasswordExpired], [PasswordExpireDate], [PasswordLocked], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status], [Application_Id], [OfficeProfile_Id]) VALUES (10048, N'Admin', N'E10ADC3949BA59ABBE56E057F20F883E', 2, NULL, NULL, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserOfficeApplication] ON 

INSERT [dbo].[UserOfficeApplication] ([Id], [UserId], [OwnOfficeId], [OwnOfficeBranchId], [ApplicationId], [CreateDate], [CreatedBy], [CreatorIP], [CreatorMac], [AuthorizeDate], [AuthorizedBy], [AuthorizerIP], [AuthorizerMac], [EditDate], [EditedBy], [EditorIP], [EditorMac], [Status]) VALUES (2, 10048, 1, 1, 1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[UserOfficeApplication] OFF
INSERT [dbo].[UserRole] ([UserId], [RoleId]) VALUES (10048, 3)
ALTER TABLE [dbo].[ApplicationModule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationModule_dbo.Application_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationModule] CHECK CONSTRAINT [FK_dbo.ApplicationModule_dbo.Application_ApplicationId]
GO
ALTER TABLE [dbo].[ApplicationModule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ApplicationModule_dbo.Module_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ApplicationModule] CHECK CONSTRAINT [FK_dbo.ApplicationModule_dbo.Module_ModuleId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.Designation_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designation] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.Designation_DesignationId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.OwnOffice_OwnOfficeId] FOREIGN KEY([OwnOfficeId])
REFERENCES [dbo].[OwnOffice] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.OwnOffice_OwnOfficeId]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Employee_dbo.OwnOfficeBranch_OwnOfficeBranchId] FOREIGN KEY([OwnOfficeBranchId])
REFERENCES [dbo].[OwnOfficeBranch] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_dbo.Employee_dbo.OwnOfficeBranch_OwnOfficeBranchId]
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menu_dbo.SubModule_SubModuleId] FOREIGN KEY([SubModuleId])
REFERENCES [dbo].[SubModule] ([Id])
GO
ALTER TABLE [dbo].[Menu] CHECK CONSTRAINT [FK_dbo.Menu_dbo.SubModule_SubModuleId]
GO
ALTER TABLE [dbo].[MenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuTask_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuTask] CHECK CONSTRAINT [FK_dbo.MenuTask_dbo.Menu_MenuId]
GO
ALTER TABLE [dbo].[MenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.MenuTask_dbo.Task_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MenuTask] CHECK CONSTRAINT [FK_dbo.MenuTask_dbo.Task_TaskId]
GO
ALTER TABLE [dbo].[OfficeProfile]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OfficeProfile_dbo.OfficeProfile_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[OfficeProfile] ([Id])
GO
ALTER TABLE [dbo].[OfficeProfile] CHECK CONSTRAINT [FK_dbo.OfficeProfile_dbo.OfficeProfile_ParentId]
GO
ALTER TABLE [dbo].[OwnOfficeBranch]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OwnOfficeBranch_dbo.OwnOffice_OwnOfficeId] FOREIGN KEY([OwnOfficeId])
REFERENCES [dbo].[OwnOffice] ([Id])
GO
ALTER TABLE [dbo].[OwnOfficeBranch] CHECK CONSTRAINT [FK_dbo.OwnOfficeBranch_dbo.OwnOffice_OwnOfficeId]
GO
ALTER TABLE [dbo].[RoleMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenu_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[RoleMenu] CHECK CONSTRAINT [FK_dbo.RoleMenu_dbo.Menu_MenuId]
GO
ALTER TABLE [dbo].[RoleMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenu_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[RoleMenu] CHECK CONSTRAINT [FK_dbo.RoleMenu_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[RoleMenu1]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenu1_dbo.Menu_Menu_Id] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleMenu1] CHECK CONSTRAINT [FK_dbo.RoleMenu1_dbo.Menu_Menu_Id]
GO
ALTER TABLE [dbo].[RoleMenu1]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenu1_dbo.Role_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RoleMenu1] CHECK CONSTRAINT [FK_dbo.RoleMenu1_dbo.Role_Role_Id]
GO
ALTER TABLE [dbo].[RoleMenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenuTask_dbo.RoleMenu_RoleMenuId] FOREIGN KEY([RoleMenuId])
REFERENCES [dbo].[RoleMenu] ([Id])
GO
ALTER TABLE [dbo].[RoleMenuTask] CHECK CONSTRAINT [FK_dbo.RoleMenuTask_dbo.RoleMenu_RoleMenuId]
GO
ALTER TABLE [dbo].[RoleMenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoleMenuTask_dbo.Task_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[RoleMenuTask] CHECK CONSTRAINT [FK_dbo.RoleMenuTask_dbo.Task_TaskId]
GO
ALTER TABLE [dbo].[SubModule]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SubModule_dbo.Module_ModuleId] FOREIGN KEY([ModuleId])
REFERENCES [dbo].[Module] ([Id])
GO
ALTER TABLE [dbo].[SubModule] CHECK CONSTRAINT [FK_dbo.SubModule_dbo.Module_ModuleId]
GO
ALTER TABLE [dbo].[TaskRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskRoles_dbo.Role_Role_Id] FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskRoles] CHECK CONSTRAINT [FK_dbo.TaskRoles_dbo.Role_Role_Id]
GO
ALTER TABLE [dbo].[TaskRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TaskRoles_dbo.Task_Task_Id] FOREIGN KEY([Task_Id])
REFERENCES [dbo].[Task] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskRoles] CHECK CONSTRAINT [FK_dbo.TaskRoles_dbo.Task_Task_Id]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Application_Application_Id] FOREIGN KEY([Application_Id])
REFERENCES [dbo].[Application] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Application_Application_Id]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.Employee_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.Employee_EmployeeId]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_dbo.User_dbo.OfficeProfile_OfficeProfile_Id] FOREIGN KEY([OfficeProfile_Id])
REFERENCES [dbo].[OfficeProfile] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_dbo.User_dbo.OfficeProfile_OfficeProfile_Id]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserMenu_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_dbo.UserMenu_dbo.Menu_MenuId]
GO
ALTER TABLE [dbo].[UserMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserMenu_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserMenu] CHECK CONSTRAINT [FK_dbo.UserMenu_dbo.User_UserId]
GO
ALTER TABLE [dbo].[UserOfficeApplication]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.Application_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[Application] ([Id])
GO
ALTER TABLE [dbo].[UserOfficeApplication] CHECK CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.Application_ApplicationId]
GO
ALTER TABLE [dbo].[UserOfficeApplication]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.OwnOffice_OwnOfficeId] FOREIGN KEY([OwnOfficeId])
REFERENCES [dbo].[OwnOffice] ([Id])
GO
ALTER TABLE [dbo].[UserOfficeApplication] CHECK CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.OwnOffice_OwnOfficeId]
GO
ALTER TABLE [dbo].[UserOfficeApplication]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.OwnOfficeBranch_OwnOfficeBranchId] FOREIGN KEY([OwnOfficeBranchId])
REFERENCES [dbo].[OwnOfficeBranch] ([Id])
GO
ALTER TABLE [dbo].[UserOfficeApplication] CHECK CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.OwnOfficeBranch_OwnOfficeBranchId]
GO
ALTER TABLE [dbo].[UserOfficeApplication]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserOfficeApplication] CHECK CONSTRAINT [FK_dbo.UserOfficeApplication_dbo.User_UserId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.Menu_MenuId] FOREIGN KEY([MenuId])
REFERENCES [dbo].[Menu] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenu] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.Menu_MenuId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenu] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenu]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.UserProxy_UserProxyId] FOREIGN KEY([UserProxyId])
REFERENCES [dbo].[UserProxy] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenu] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenu_dbo.UserProxy_UserProxyId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.RoleMenu_RoleMenuId] FOREIGN KEY([RoleMenuId])
REFERENCES [dbo].[RoleMenu] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.RoleMenu_RoleMenuId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.Task_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.Task_TaskId]
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.UserProxyRoleMenu_RoleMenuId] FOREIGN KEY([RoleMenuId])
REFERENCES [dbo].[UserProxyRoleMenu] ([Id])
GO
ALTER TABLE [dbo].[UserProxyRoleMenuTask] CHECK CONSTRAINT [FK_dbo.UserProxyRoleMenuTask_dbo.UserProxyRoleMenu_RoleMenuId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.Role_RoleId]
GO
ALTER TABLE [dbo].[UserRole]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRole] CHECK CONSTRAINT [FK_dbo.UserRole_dbo.User_UserId]
GO
