USE [DEL.Auth]
GO
/****** Object:  Table [dbo].[testoffice2]    Script Date: 4/17/2022 3:51:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[testoffice2](
	[ID] [bigint] NOT NULL,
	[OfficeName] [varchar](max) NOT NULL,
	[OfficeNameBn] [varchar](250) NOT NULL,
	[ZoneID] [smallint] NOT NULL,
	[CircleID] [smallint] NOT NULL,
	[DivisionID] [smallint] NOT NULL,
	[Phone] [varchar](max) NULL,
	[PhoneRes] [varchar](max) NULL,
	[Fax] [varchar](250) NULL,
	[OEmail] [varchar](250) NULL,
	[IsShow] [int] NOT NULL,
	[Status] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[testoffice2] ([ID], [OfficeName], [OfficeNameBn], [ZoneID], [CircleID], [DivisionID], [Phone], [PhoneRes], [Fax], [OEmail], [IsShow], [Status]) VALUES (1, N'Office of The Chief Engineer', N'?????? ????????? ????????', 0, 0, 0, N'02-9562795', N'01882-115001', N'02-9562913', N'ce@pwd.gov.bd', 1, 1)
INSERT [dbo].[testoffice2] ([ID], [OfficeName], [OfficeNameBn], [ZoneID], [CircleID], [DivisionID], [Phone], [PhoneRes], [Fax], [OEmail], [IsShow], [Status]) VALUES (2, N'Additional Chief Engineer (Est. & Co)', N'???????? ?????? ???????? (? ? ?)', 0, 0, 0, N'0222-3382831', N'01882-115002', N'', N'ace_est@pwd.gov.bd', 1, 1)
INSERT [dbo].[testoffice2] ([ID], [OfficeName], [OfficeNameBn], [ZoneID], [CircleID], [DivisionID], [Phone], [PhoneRes], [Fax], [OEmail], [IsShow], [Status]) VALUES (3, N'Additional Chief Engineer (Planning and Special Project)', N'???????? ?????? ???????? (? ? ??,?)', 0, 0, 0, N'02-223383083', N'01882115031', N'02-9550507', N'ace_psp@pwd.gov.bd', 1, 1)
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT ((0)) FOR [ZoneID]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT ((0)) FOR [CircleID]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT ((0)) FOR [DivisionID]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT (NULL) FOR [PhoneRes]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT (NULL) FOR [Fax]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT (NULL) FOR [OEmail]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT ((1)) FOR [IsShow]
GO
ALTER TABLE [dbo].[testoffice2] ADD  DEFAULT ((1)) FOR [Status]
GO
