<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>jqGrid - Ace Admin</title>

    <meta name="description" content="Dynamic tables and grids using jqGrid plugin" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="~/Content/customassets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/customassets/font-awesome/4.2.0/css/font-awesome.min.css" />

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="~/Content/customassets/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/Content/customassets/css/datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/customassets/css/ui.jqgrid.min.css" />

    <!-- text fonts -->
    <link rel="stylesheet" href="~/Content/customassets/fonts/fonts.googleapis.com.css" />

    <!-- ace styles -->
    <link rel="stylesheet" href="~/Content/customassets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />

    <!--[if lte IE 9]>
        <link rel="stylesheet" href="~/Content/customassets/css/ace-part2.min.css" class="ace-main-stylesheet" />
    <![endif]-->
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="~/Content/customassets/css/ace-ie.min.css" />
    <![endif]-->
    <!-- inline styles related to this page -->
    <!-- ace settings handler -->
    <script src="~/Content/customassets/js/ace-extra.min.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="~/Content/customassets/js/html5shiv.min.js"></script>
    <script src="~/Content/customassets/js/respond.min.js"></script>
    <![endif]-->
    <!-- ace scripts -->
    <script src="~/Content/customassets/js/ace-elements.min.js"></script>
    <script src="~/Content/customassets/js/ace.min.js"></script>
</head>

<body>
    <div class="main-content-inner">
        @RenderBody()
    </div>
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script src="~/Content/customassets/js/jquery.2.1.1.min.js"></script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Content/customassets/js/jquery.1.11.1.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Content/customassets/js/jquery.min.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/Content/customassets/js/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='~/Content/customassets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
    </script>
    <script src="~/Content/customassets/js/bootstrap.min.js"></script>

    <!-- page specific plugin scripts -->
    <script src="~/Content/customassets/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/customassets/js/jquery.jqGrid.min.js"></script>
    <script src="~/Content/customassets/js/grid.locale-en.js"></script>
</body>
</html>
