<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/knockout-date-bindings.js"></script>
<link href="~/Content/layout-modifications.css" rel="stylesheet" />
<script src="~/Areas/Auth/Scripts/WorkRecord/DengueReport.js"></script>
@{
    ViewBag.Title = "WorkrecordListByDevission";
    Layout = "~/Views/Shared/_LayoutContentPage.cshtml";
}

<div id="mmInfoEntry">
    <section class="rm">
        <div class="container-fluid ">
            <fieldset>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="table-header">
                                    Dengue Protection Monitoring System
                                </div>
                                <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline no-footer">
                                    <table class="table table-striped table-bordered table-hover dataTable no-footer" frame="box">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>অফিসের নাম</th>
                                                <th colspan="2">গণপূর্ত অধিদপ্তরের আওতাধীন সকল পুকুর/জলাশয়/লেক/খাল কচুরীপানা মুক্ত ও পরিষ্কার পরিচ্ছন্ন করা হয়েছে।</th>
                                                <th colspan="2">গণপূর্ত অধিদপ্তরের আওতাধীন সকল স্থাপনার বর্জ অপসারণের বিষয়ে প্রয়োজনীয় ব্যবস্থা গ্রহণ করা হয়েছে।</th>
                                                <th colspan="2">গণপূর্ত অধিদপ্তরের আওতায় সকল সরকারি হাসপাতালের ড্রেইন এবং তৎসংলগ্ন এলাকা পরিষ্কার পরিচ্ছন্ন রাখার ব্যবস্থা গ্রহণ করা হয়েছে।</th>
                                                <th colspan="2">সকল অফিস আদালত ও বাসা বাড়ির আঙ্গিনার ঝোঁপ-ঝাড় ও আগাছা মুক্ত রাখা, সংলগ্ন রাস্তা, ড্রেইন নিয়মিত পরিষ্কার করা হচ্ছে।</th>
                                                <th colspan="2">জমানো পানির সকল উৎস যথাসম্ভব অপসারণ পূর্বক নিয়মিতভাবে জীবানু-নাশক ছিটানোর ব্যবস্থা ও পানিতে ভাসমান লার্ভা বিনষ্ট করা হচ্ছে। </th>
                                                <th colspan="2">ভবনের ঢালাইয়ের কিউরিং কাজে জমানো পানিতে মশার লার্ভা ধ্বংসকারী ওষধ নিয়মিতভাবে ছিটানোর ব্যবস্থা গ্রহণ করা হয়েছে।</th>
                                                <th colspan="2">সকল গণপূর্ত বিভাগের আওতাধীন নির্মাণ সাইটগুলোতে অপ্রয়োজনীয় আবদ্ধ পানি অপসারণ করা হয়েছে।</th>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                                <td>&nbsp;</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                                <td>Yes/No</td>
                                                <td>Completion</td>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach:OfficeList">
                                            <tr>
                                                <td style="text-align:left;" data-bind="text: $index() + 1"><input type="hidden" data-bind="value:Id" /></td>
                                                @*<td style="text-align:left;"><input type="hidden" data-bind="value:Id" /></td>
                                                    <td>
                                                        <table class="table table-striped table-bordered table-hover dataTable no-footer" frame="box">
                                                            <tbody data-bind="foreach:OfficeList">
                                                                <tr>*@
                                                <td style="text-align:left;" data-bind=" text:OfficeName"></td>
                                                <td style="text-align:left;" data-bind=" text:IsPondsCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsPondsCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsWastageCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsWastageCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsMedicalCollegeCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsMedicalCollegeCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsOfficeAndHouseholdCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsOfficeAndHouseholdCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsStillWaterCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsStillWaterCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsCuringWaterCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsCuringWaterCleanUpDatetxt"></td>
                                                <td style="text-align:left;" data-bind=" text:IsUnderConstructionBuildingCleanUptxt"></td>
                                                <td style="text-align:left;" data-bind=" html:IsUnderConstructionBuildingCleanUpDatetxt"></td>
                                                @*</tr>
                                                            </tbody>
                                                        </table>
                                                    </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </section>

</div>

